.DS_Store
.~lock.*
*.dep
*.swp
*.bak
*.save
*.lnk
__pycache__
*.pyc
Thumbs.db

*.log
*.echo
*.3mf
times.txt

.vscode/
scad/target.scad
scad/bom.scad

tests.html
tests.md
tests/*
!tests/*.scad

PRINTBED120/assemblies/*
PRINTBED120/bom/
PRINTBED120/dxfs/*
PRINTBED120/stls/*
PRINTBED120/tmp/
PRINTBED120/*.html
# change to !, except for diffs, once released
!PRINTBED120/readme.md
!PRINTBED120/assemblies/main_assembled.png
!PRINTBED120/assemblies/*.png
PRINTBED120/assemblies/*_diff.png
!PRINTBED120/dxfs/*.dxf
!PRINTBED120/dxfs/*.png
PRINTBED120/dxfs/*_diff.png
!PRINTBED120/stls/*.stl
!PRINTBED120/stls/*.png
PRINTBED120/stls/*_diff.png

BC200/assemblies/*
BC200/bom/
BC200/dxfs/*
BC200/stls/*
BC200/tmp/
BC200/*.html
# change to !, except for diffs, once released
!BC200/readme.md
!BC200/assemblies/main_assembled.png
!BC200/assemblies/*.png
BC200/assemblies/*_diff.png
!BC200/dxfs/*.dxf
!BC200/dxfs/*.png
BC200/dxfs/*_diff.png
!BC200/stls/*.stl
!BC200/stls/*.png
BC200/stls/*_diff.png


BC200CF/assemblies/*
BC200CF/bom/
BC200CF/dxfs/*
BC200CF/stls/*
BC200CF/tmp/
BC200CF/*.html
# change to !, except for diffs, once released
BC200CF/readme.md
!BC200CF/assemblies/main_assembly.png
!BC200CF/assemblies/main_assembled.png
#!BC200CF/assemblies/*.png
BC200CF/assemblies/*_diff.png
#!BC200CF/dxfs/*.dxf
#!BC200CF/dxfs/*.png
BC200CF/dxfs/*_diff.png
#!BC200CF/stls/*.stl
#!BC200CF/stls/*.png
BC200CF/stls/*_diff.png


BC220/assemblies/*
BC220/bom/
BC220/dxfs/*
BC220/stls/*
BC220/tmp/
BC220/*.html
# change to !, except for diffs, once released
BC220/readme.md
BC220/assemblies/main_assembled.png
#!BC220/assemblies/*.png
BC220/assemblies/*_diff.png
#!BC220/dxfs/*.dxf
#!BC220/dxfs/*.png
BC220/dxfs/*_diff.png
#!BC220/stls/*.stl
#!BC220/stls/*.png
BC220/stls/*_diff.png
