.DS_Store
.~lock.*
*.dep
*.swp
*.bak
*.save
*.lnk
__pycache__
*.pyc
Thumbs.db

*.log
*.echo
*.3mf
times.txt
cmd_times.txt

# .vscode/

documents/*
!documents/MarlinConfiguration.md
!documents/klipper_btt_skr_mini_e3_v2.cfg
!documents/BabyCube200_BOM.ods
!documents/PrinterEnd.gcode
!documents/PrinterStart.gcode

pictures/temp/

//scad/target.scad
scad/bom.scad

cadquery/*
!cadquery/*.py

tests.*
tests/*.*
tests/bom
tests/deps
tests/png/*
tests/tmp
!tests/*.scad
!tests/extra/*.scad
# change to !, except for _diff, once released
#!tests.md
#!tests/png/*.png
tests/png/*_diff.png

PRINTBED120/assemblies/*
PRINTBED120/bom/
PRINTBED120/dxfs/*
PRINTBED120/stls/*
PRINTBED120/tmp/
PRINTBED120/*.html
# change to !, except for _diff, .stl, and .dxf, once released
!PRINTBED120/readme.md
!PRINTBED120/assemblies/main_assembled.png
!PRINTBED120/assemblies/*.png
PRINTBED120/assemblies/*_diff.png
#!PRINTBED120/dxfs/*.dxf
!PRINTBED120/dxfs/*.png
PRINTBED120/dxfs/*_diff.png
!PRINTBED120/stls/*.stl
!PRINTBED120/stls/*.png
PRINTBED120/stls/*_diff.png

PRINTBED120E15/assemblies/*
PRINTBED120E15/bom/
PRINTBED120E15/dxfs/*
PRINTBED120E15/stls/*
PRINTBED120E15/tmp/
PRINTBED120E15/*.html
# change to !, except for _diff, .stl, and .dxf, once released
!PRINTBED120E15/readme.md
!PRINTBED120E15/assemblies/main_assembled.png
!PRINTBED120E15/assemblies/*.png
PRINTBED120E15/assemblies/*_diff.png
#!PRINTBED120E15/dxfs/*.dxf
!PRINTBED120E15/dxfs/*.png
PRINTBED120E15/dxfs/*_diff.png
#!PRINTBED120E15/stls/*.stl
!PRINTBED120E15/stls/*.png
PRINTBED120E15/stls/*_diff.png

BC200NEMA17/

BC200/assemblies/*
BC200/bom/
BC200/dxfs/*
BC200/stls/*
BC200/tmp/
BC200/*.html
# change to !, except for _diff, .stl, and .dxf, once released
!BC200/readme.md
!BC200/assemblies/main_assembled.png
!BC200/assemblies/*.png
BC200/assemblies/*_diff.png
!BC200/dxfs/*.dxf
!BC200/dxfs/*.png
BC200/dxfs/*_diff.png
!BC200/stls/*.stl
!BC200/stls/*.png
BC200/stls/*_diff.png


BC200CF/assemblies/*
BC200CF/bom/
BC200CF/dxfs/*
BC200CF/stls/*
BC200CF/tmp/
BC200CF/*.html
# change to !, except for _diff, .stl, and .dxf, once released
BC200CF/readme.md
#!BC200CF/assemblies/BC200CF_assembly.png
!BC200CF/assemblies/BC200CF_assembled.png
#!BC200CF/assemblies/*.png
BC200CF/assemblies/*_diff.png
#!BC200CF/dxfs/*.dxf
#!BC200CF/dxfs/*.png
BC200CF/dxfs/*_diff.png
#!BC200CF/stls/*.stl
#!BC200CF/stls/*.png
BC200CF/stls/*_diff.png

BC200CF_unstaged/assemblies/*
BC200CF_unstaged/bom/
BC200CF_unstaged/dxfs/*
BC200CF_unstaged/stls/*
BC200CF_unstaged/tmp/
BC200CF_unstaged/*.html
BC200CF_unstaged/readme.md
!BC200CF_unstaged/assemblies/BC200CF_unstaged_assembly.png
!BC200CF_unstaged/assemblies/BC200CF_assembled.png


BC220/assemblies/*
BC220/bom/
BC220/dxfs/*
BC220/stls/*
BC220/tmp/
BC220/*.html
# change to !, except for _diff, .stl, and .dxf, once released
!BC220/readme.md
!BC220/assemblies/main_assembled.png
!BC220/assemblies/*.png
BC220/assemblies/*_diff.png
#!BC220/dxfs/*.dxf
!BC220/dxfs/*.png
BC220/dxfs/*_diff.png
#!BC220/stls/*.stl
!BC220/stls/*.png
BC220/stls/*_diff.png

BC220CF/assemblies/*
BC220CF/bom/
BC220CF/dxfs/*
BC220CF/stls/*
BC220CF/tmp/
BC220CF/*.html
# change to !, except for _diff, .stl, and .dxf, once released
!BC220CF/readme.md
!BC220CF/assemblies/BC220CF_assembly.png
!BC220CF/assemblies/BC220CF_assembled.png
!BC220CF/assemblies/*.png
BC220CF/assemblies/*_diff.png
#!BC220CF/dxfs/*.dxf
!BC220CF/dxfs/*.png
BC220CF/dxfs/*_diff.png
#!BC220CF/stls/*.stl
!BC220CF/stls/*.png
BC220CF/stls/*_diff.png

BC250CF/
BC260CF/

