# This file contains common pin mappings for the BIGTREETECH SKR mini
# E3 v2.0. To use this config, the firmware should be compiled for the
# STM32F103 with a "28KiB bootloader" and USB communication. Also,
# select "Enable extra low-level configuration options" and configure
# "GPIO pins to set at micro-controller startup" to "!PA14".

# The "make flash" command does not work on the SKR mini E3. Instead,
# after running "make", copy the generated "out/klipper.bin" file to a
# file named "firmware.bin" on an SD card and then restart the SKR
# mini E3 with that SD card.

# See https://www.klipper3d.org/Config_Reference.html for a description of parameters.

[mcu]
# Obtain definition by "ls -l /dev/serial/by-id/"
serial: /dev/serial/by-id/usb-Klipper_stm32f103xe_30FFD7054253373814620257-if00

[printer]
kinematics: corexy
max_velocity: 200
max_accel: 3000
max_z_velocity: 25
max_z_accel: 30
square_corner_velocity: 6.0

########################################
#      X/Y/Z Stepper Settings
########################################

# Steppers are set with
# 1. No hold current, since changing motor current can induce motor movement
# 2. spreadCycle mode, so stealthchop_threshold not set
# 3. Interpolation disabled for best possible accuracy, so interpolate set to False

[stepper_x]
step_pin: PB13
dir_pin: PB12
enable_pin: !PB14
microsteps: 16
full_steps_per_rotation: 200 # Set to 400 for 0.9° degree stepper motor, 200 is for 1.8° stepper motors
# Marlin DEFAULT_AXIS_STEPS_PER_UNIT 80
# rotation_distance = <full_steps_per_rotation> * <microsteps> / <steps_per_mm>
# rotation_distance = 200 * 16 / 80;
rotation_distance: 40
#endstop_pin: ^PC0
position_endstop: 0
position_max: 90
# sensorless homing, homing speed should be half rotation_distance
homing_speed: 20
homing_retract_dist: 0
endstop_pin: tmc2209_stepper_x:virtual_endstop

[tmc2209 stepper_x]
uart_pin: PC11
tx_pin: PC10
uart_address: 0
run_current: 0.580
#hold_current: 0.500
interpolate: False
# sensorless homing
diag_pin: ^PC0      # Set to MCU pin connected to TMC DIAG pin
driver_SGTHRS: 255  # 255 is most sensitive value, 0 is least sensitive, suggested value: 55

[stepper_y]
step_pin: PB10
dir_pin: PB2
enable_pin: !PB11
microsteps: 16
full_steps_per_rotation: 200 # Set to 400 for 0.9° degree stepper motor, 200 is for 1.8° stepper motors
# Marlin DEFAULT_AXIS_STEPS_PER_UNIT 80
# rotation_distance = <full_steps_per_rotation> * <microsteps> / <steps_per_mm>
# rotation_distance = 200 * 16 / 80;
rotation_distance: 40
#endstop_pin: ^PC1
position_endstop: 0
position_max: 80
# sensorless homing, homing speed should be half rotation_distance
homing_speed: 20
homing_retract_dist: 0
endstop_pin: tmc2209_stepper_y:virtual_endstop

[tmc2209 stepper_y]
uart_pin: PC11
tx_pin: PC10
uart_address: 2
run_current: 0.580
#hold_current: 0.500
interpolate: False
# sensorless homing
diag_pin: ^PC1      # Set to MCU pin connected to TMC DIAG pin
driver_SGTHRS: 255  # 255 is most sensitive value, 0 is least sensitive, suggested value: 50

[stepper_z]
step_pin: PB0
dir_pin: PC5
enable_pin: !PB1
microsteps: 16
full_steps_per_rotation: 200 # Set to 400 for 0.9° degree stepper motor, 200 is for 1.8° stepper motors
# Marlin DEFAULT_AXIS_STEPS_PER_UNIT 400
# rotation_distance = <full_steps_per_rotation> * <microsteps> / <steps_per_mm>
# rotation_distance = 200 * 16 / 400;
rotation_distance: 8
#endstop_pin: ^PC2
position_endstop: 60
position_max: 60
# sensorless homing, homing speed should be half rotation_distance
homing_speed: 4
homing_retract_dist: 0
endstop_pin: tmc2209_stepper_z:virtual_endstop

[tmc2209 stepper_z]
uart_pin: PC11
tx_pin: PC10
uart_address: 1
run_current: 0.580
#hold_current: 0.500
interpolate: False
# sensorless homing
diag_pin: ^PC2      # Set to MCU pin connected to TMC DIAG pin
driver_SGTHRS: 255  # 255 is most sensitive value, 0 is least sensitive, suggested value: 38

########################################
#   Extruder
########################################

[extruder]
step_pin: PB3
dir_pin: !PB4
enable_pin: !PD2
microsteps: 16
full_steps_per_rotation: 200 # Set to 400 for 0.9° degree stepper motor, 200 is for 1.8° stepper motors
# Marlin DEFAULT_AXIS_STEPS_PER_UNIT 136
# rotation_distance = <full_steps_per_rotation> * <microsteps> / <steps_per_mm>
# rotation_distance = 200 * 16 / 136
rotation_distance: 23.529
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PC8
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PA0
control: pid
pid_Kp: 22.72
pid_Ki: 1.68
pid_Kd: 76.98
min_temp: 0
max_temp: 250

[tmc2209 extruder]
uart_pin: PC11
tx_pin: PC10
uart_address: 3
run_current: 0.650
#hold_current: 0.500
interpolate: False

########################################
#	Fan Control
########################################

[heater_fan hotend_fan]
# Hotend fan
pin: PC7
kick_start_time: 0.500
heater: extruder
heater_temp: 50.0

[fan]
# Print cooling fan
pin: PC6
kick_start_time: 0.500

########################################
#   Heated Bed
########################################

[heater_bed]
heater_pin: PC9
sensor_type: ATC Semitec 104GT-2
sensor_pin: PC3
control: pid
pid_Kp: 39.41
pid_Ki: 6.38
pid_Kd: 162.212
min_temp: 0
max_temp: 100

########################################
#   Resonance measurement
########################################

# Must set up the RPi as a secondary MCU to do this, see: https://www.klipper3d.org/RPi_microcontroller.html

#[mcu rpi]
#serial: /tmp/klipper_host_mcu

#[adxl345]
#cs_pin: rpi:None

#[resonance_tester]
#accel_chip: adxl345
#probe_points:
#    45,40,15  # 15mm above mid point of bed

########################################
#   Static GPIO output
########################################

[static_digital_output usb_pullup_enable]
pins: !PA14

########################################
#   EXP1 (display) pins
########################################

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PB5,  EXP1_3=PA9,   EXP1_5=PA10, EXP1_7=PB8,  EXP1_9=<GND>,
    EXP1_2=PA15, EXP1_4=<RST>, EXP1_6=PB9,  EXP1_8=PB15, EXP1_10=<5V>


######################################################################
# 128x64 Full Graphic Creality CR10 / ENDER 3 stockdisplay
######################################################################

# This section is used for a Creality "12864" display with a single
# ribbon cable between the display's EXP3 plug and the
# micro-controller board's EXP1 connector.

# Marlin
# #define CR10_STOCKDISPLAY

[display]
lcd_type: st7920
cs_pin: EXP1_7
sclk_pin: EXP1_6
sid_pin: EXP1_8
encoder_pins: ^EXP1_5, ^EXP1_3
click_pin: ^!EXP1_2

[output_pin beeper]
pin: EXP1_1
